.square {
    cursor: pointer;
    box-sizing: border-box;
    display: inherit;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    color:white;
    font-size: 24px;
    font-weight: bold;
    margin-right: -2px;
    margin-top: -2px;
    flex-basis: 12%;
    min-height: 100px;
}

.square:focus {
    outline: none;
}